html,
body {
  height: 100%;
}

body {
  color: $default-color;
  font-size: 20px;
  line-height: 1.5;
  @extend %rubik-400;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  padding: 7px 0 1px 3px;
  transition: opacity 0.3s, box-shadow 0.3s, border-radius 0.3s;
}

.logo:hover {
  opacity: 0.8;
}

.logo:focus {
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
}

.logo:active {
  opacity: 0.5;
}

.section {
  padding: 60px 0;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}



